def perform_operation(num1, num2, znak):
    if znak == '+':
        return num1 + num2
    elif znak == '-':
        return num1 - num2
    elif znak == '*':
        return num1 * num2
    elif znak == '/':
        return num1 / num2
    elif znak == '%':
        return num1 % num2
    else:
        return "Zly znak"

num1 = float(input("Wprowadź pierwszą cyfrę: "))
num2 = float(input("Wprowadź drugą cyfrę:"))
znak = input("Dodaj znak (+, -, *, /, %): ")

wynik = perform_operation(num1, num2, znak )
print("Wynik:", wynik)
